// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.banner h1:hover {
  text-shadow: 2px 2px 3px rgb(117, 116, 116);
}

.banner p {
  font-size: 27px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#meetthecook {
  margin: auto;
  width: 80%;
  padding-top: 70px;
  text-align: center;
}

#whyyoushouldusecoolbean {
  margin: auto;
  width: 80%;

}

#cookdescription {
  margin: auto;
  text-align: center !important;
}

#whychoose {
  padding-left: 40px;
  padding-right: 40px;
}

.bannerbottom {
  background-size: cover;
  background-position: center;
  padding: 130px 0;
}

.bannerbottom h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  transition: 0.5s;
}

.bannerbottom h1:hover {
  text-shadow: 2px 2px 3px rgb(117, 116, 116);
}

.foodsafety {
  width: 362px;
  height: 306px;
  padding-top: 70px;
}

#choosecoolbean {
  height: 300px;
  display: flex;
  align-items: center;
}

input[type=text] {
  float: right;
  width: 300px;
  height: 35px;
  border: none;
  margin-right: 15px;
  padding-left: 5px;
  font-size: 14px;
  font-family: Archivo;
  color: #000000;
  border-radius: 2px !important;
}


#explorebtn {
  margin-left: 30px;
  margin-top: 5px;
}


.card-trip-user {
  position: absolute;
  right: 2.5%;
  bottom: 42%;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#hiw-text {
  text-align: center;
}
