// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.banner h1:hover {
  text-shadow: 2px 2px 3px rgb(117, 116, 116);
}

.banner p {
  font-size: 27px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#meetthecook {
  margin: auto;
  width: 80%;
  padding-top: 70px;
  text-align: center;
}

#whyyoushouldusecoolbean {
  margin: auto;
  width: 80%;

}

#cookdescription {
  margin: auto;
  text-align: center !important;
}

#whychoose {
  padding-left: 40px;
  padding-right: 40px;
}

.bannerbottom {
  background-size: cover;
  background-position: center;
  padding: 130px 0;
}

.bannerbottom h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  transition: 0.5s;
}

.bannerbottom h1:hover {
  text-shadow: 2px 2px 3px rgb(117, 116, 116);
}

.foodsafety {
  width: 362px;
  height: 306px;
  padding-top: 70px;
}

#choosecoolbean {
  height: 300px;
  display: flex;
  align-items: center;
}

input[type=text] {
  float: right;
  width: 300px;
  height: 35px;
  border: none;
  margin-right: 15px;
  padding-left: 5px;
  font-size: 14px;
  font-family: Archivo;
  color: #000000;
  border-radius: 2px !important;
}


#explorebtn {
  margin-left: 30px;
  margin-top: 5px;
}


.card-trip-user {
  position: absolute;
  right: 2.5%;
  bottom: 42%;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#hiw-text {
  text-align: center;
}

.image-wrapper {
  width: 400px;
  height: 400px;
  position: relative;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
}

.image-1 {
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(-10px, -10px);
  transition: transform 300ms ease;
  transform-origin: top;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

.image-2 {
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-30px, 5px);
  transition: transform 300ms ease;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

.image-3 {
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(-15px, -10px);
  transition: transform 300ms ease;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

.image-4 {
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(-32px, 5px);
  transition: transform 300ms ease;
  transform-origin: top;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

.icon-effect {
  transition: 0.2s ease;
}
.icon-effect:hover {
  transform: scale(1.1);
}

.column#zoomIn img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#zoomIn:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

}

.column#zoomIn {
  transition: 0.3s;
}

.column#zoomIn:hover {
  box-shadow: 0px 0px 10px 1px rgb(226, 226, 226);
}

.h-100 {

}
