.card-trip-user {
  position: absolute;
  right: 2.5%;
  bottom: 42%;
}

#mealscount {
  font-size: 12px !important;
  color: grey !important;
  font-style: italic !important;
  position: relative;
  bottom: -20px;
}
