<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), src(/assets/images/image 10.png);">
  <div class="container d-flex justify-content-center">
    <h1 style="text-align: center">Welcome to CoolBean</h1>
  </div>
  <div class="container d-flex justify-content-center">
    <p>Share your love for homemade food</p>
  </div>
</div>
