<div class="container text-center">
  <div class="row py-4">
    <div class="col">
      <h3>Redirecting to payment page...</h3>
      <p><img src="https://media0.giphy.com/media/jAYUbVXgESSti/giphy.gif?cid=ecf05e472icdu5tnritvxrqvroqd7cfgphc643mazbo972fb&rid=giphy.gif&ct=g" style="height: 374.498px; left: 0px; top: 0px;"></p>
      <script>
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_session_id %>'
        });
      </script>
    </div>
  </div>
</div>
