<div class="container">
  <div class="row py-4">
    <div class="col">
      <h3>Redirecting to payment page...</h3>
      <script>
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_session_id %>'
        });
      </script>
    </div>
  </div>
</div>
