<div class="container">
  <div class="row py-4 d-flex align-items-center justify-content-center">
    <div class="col-6 text-center">
      <h3>Redirecting to payment page...</h3>
      <div class="d-flex justify-content-center">
        <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_4a9z4r5x.json" background="transparent"  speed="1"  style="width: 500px; height: 500px;" loop autoplay></lottie-player>
      </div>
      <script>
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_session_id %>'
        });
      </script>
    </div>
  </div>
</div>
