.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s;
}

.avatar:hover {
  box-shadow: 0px 0px 10px grey;
  cursor: pointer;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-homelisting {
  object-fit: cover;
  object-position: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: 1px solid white;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
  object-position: center;
}

.avatar_specificmeal {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
}


.avatar-meallisting {
  object-fit: cover;
  object-position: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  position: absolute;
  right: 2.5%;
  bottom: 37%;
  border: 1px solid white;
}


.avatar-show {
  object-fit: cover;
  object-position: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  position: relative;
  border: 1px solid white;
  justify-content: center;
}
