.create {
  width: 295px;
  height: 41px;
  background: #FFD803;
  border-radius: 4px;
  font-weight: bold;
  font-family: archivo;
}

.signup {
  width: 86px !important;
  height: 35px !important;
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  align-items: center;
  position: absolute;
  right: 135px !important;
}

.signup:hover {
  background: #ddbc02;
  color: black !important;
}

.signuphome {
  width: 86px !important;
  height: 35px !important;
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  align-items: center;
  position: absolute;
  right: 120px !important;
}

.signuphome:hover {
  background: #ddbc02;
  color: black !important;
}

.login {
  width: 86px !important;
  height: 35px !important;
  background: inherit !important;
  border-radius: 4px !important;
  border: grey !important;
  border-style: solid !important;
  border-width: 1px !important;
  font-family: archivo !important;
  align-items: center !important;
}

.login:hover {
  background: grey !important;
  color: white !important;
}


.loginhome {
  width: 86px;
  height: 35px;
  background: inherit;
  border-radius: 4px;
  border: grey;
  border-style: solid;
  border-width: 1px;
  font-family: archivo;
  align-items: center;
  right: 0;
  color: white !important;
}

.loginhome:hover {
  background: grey;
  color: white !important;
}

.search {
  width: 130px !important;
  height: 35px !important;
  background: #FFD803;
  border-radius: 4px !important;
  align-items: center !important;
  font-family: archivo;
  font-size: 15px;
  vertical-align: middle !important;
  padding: 0px !important;
}

.search:hover {
  background: #ddbc02;
}
.exploremeals {
  width: 140px;
  height: 33px;
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  font-size: 15px;
}

.exploremeals:hover {
  background: #ddbc02;
}


.see-listing {
  width: 90%;
  height: 35px;
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  transition: 0.2s;
}

.see-listing:hover {
  background: #ddbc02;

}

.createmeal {
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  font-size: 16px;
  width: 130px;
}

.createmeal:hover {
  background: #ddbc02;
  font-weight: bold;
}

.nav-pills .nav-link.active {
  border: 0.5px solid grey !important;
  background-color: grey;
  color: white;
  border-radius: 3px !important;
  cursor: pointer;
}

.nav-link {
  color: grey;
  cursor: pointer;
  transition: 0.2s;
}

.nav-link:hover {
  font-weight: bold;
  color: grey;
}

.review {
  color:grey !important;
}

.review:hover {
  color:rgb(172, 172, 172) !important;
}

.viewmeals {
  width: 130px !important;
  height: 35px !important;
  background: #FFD803;
  border-radius: 4px !important;
  align-items: center !important;
  font-family: archivo;
  font-size: 15px;
  vertical-align: middle !important;
}

.signupnow {
  width: 130px !important;
  height: 35px !important;
  background: #FFD803;
  border-radius: 4px !important;
  align-items: center !important;
  font-family: archivo;
  font-size: 15px;
  vertical-align: middle !important;
}

.completeorder{
  width: 500px !important;
  height: 35px !important;
  background: #FFD803;
  border-radius: 4px !important;
  align-items: center !important;
  font-family: archivo;
  font-size: 15px;
  vertical-align: middle !important;
}

.completeorder:hover {
  background: #ddbc02;
  font-weight: bold;
  color: black !important;
}

.addtocart {
  width: 95% !important;
  height: 35px !important;
  background: #FFD803;
  border-radius: 4px !important;
  align-items: center !important;
  font-family: archivo;
  font-size: 15px;
  vertical-align: middle !important;
  padding: 0px !important;
  border: none;
  transition: 0.2s;
}

.addtocart:hover {
  background: #ddbc02;
}

.addtocart i{
  transition: 0.2s;
}

.addtocart:hover i{
  transform: scale(1.1);
}


.back {
  font-family: archivo;
  font-size: 15px;
  transition: 0.3s;
}

.back:hover {
  color: grey;
}
