.create {
  width: 295px;
  height: 41px;
  background: #FFD803;
  border-radius: 4px;
  font-weight: bold;
  font-family: archivo;
}

.signup {
  width: 86px;
  height: 35px;
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  align-items: center;
  position: absolute;
  right: 110px;
}

.signup:hover {
  background: #ddbc02;
}

.login {
  width: 86px;
  height: 35px;
  background: inherit;
  border-radius: 4px;
  border: grey;
  border-style: solid;
  border-width: 1px;
  font-family: archivo;
  align-items: center;

}

.loginhome {
  width: 86px;
  height: 35px;
  background: inherit;
  border-radius: 4px;
  border: grey;
  border-style: solid;
  border-width: 1px;
  font-family: archivo;
  align-items: center;
  right: 0;
}

.loginhome:hover {
  background: grey;
  color: white;
}

.search {
  width: 130px;
  height: 35px;
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  font-size: 15px;
}

.search:hover {
  background: #ddbc02;
}
.exploremeals {
  width: 140px;
  height: 33px;
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  font-size: 15px;
}

.exploremeals:hover {
  background: #ddbc02;
}


.see-listing {
  width: 90%;
  height: 35px;
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  font-size: 15px;
  position: absolute;
  bottom: 8px;

}

.see-listing:hover {
  background: #ddbc02;
  font-weight: bold;
}
