.create {
  width: 295px;
  height: 41px;
  background: #FFD803;
  border-radius: 4px;
  font-weight: bold;
  font-family: archivo;
}

.search {
  width: 130px;
  height: 35px;
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  font-size: 15px;
}

.exploremeals {
  width: 140px;
  height: 33px;
  background: #FFD803;
  border-radius: 4px;
  font-family: archivo;
  font-size: 15px;
}
