.carousel-img {
  object-fit: cover;
  object-position: center;
}

// .carousel-img-map {
//   object-fit: cover;
//   object-position: center;
//   height: 132px;
//   width: 177px;
// }

.big-carousel-img {
  object-fit: cover;
  object-position: center;
  height: 560px !important;
  width: 560px !important;
}

.big-carousel {
  height: 560px !important;
  width: 560px !important;
}

.infowindow-carousel {
  width: 200px !important;
  height: 150px !important;
}

.infowindow-carousel-img {
  width:200px !important;
  height: 150px !important;
}

.mapboxgl-popup-content {
  width: 200px !important;
}

// .text-decoration-none {
//   text-decoration: none;
//   color: black;
// }

// .card-trip {
//   height: 290px;
//   border-radius: 15px;
// }

// .card-trip {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   border-radius: 10px;
// }

// .card-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-trip h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-trip p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }

// .card-trip .card-trip-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

// .carousel {
//   position: relative;
// }


// .carousel-inner {
//   position: relative;
//   width: 100%;
//   overflow: hidden;
// }

// .carousel-inner-map {
//   position: relative;
//   width: 100%;
//   overflow: hidden;
//   height: 140px;
// }

// .carousel-inner > .item {
//   position: relative;
//   display: none;
//   -webkit-transition: 0.5s ease-in-out left;
//   -o-transition: 0.5s ease-in-out left;
//   transition: 0.5s ease-in-out left;
// }
// .carousel-inner > .item > img,
// .carousel-inner > .item > a > img {
//   line-height: 1;
// }
// @media all and (transform-3d), (-webkit-transform-3d) {
//   .carousel-inner > .item {
//     -webkit-transition: -webkit-transform 0.6s ease-in-out;
//     -o-transition: -o-transform 0.6s ease-in-out;
//     transition: transform 0.6s ease-in-out;
//     -webkit-backface-visibility: hidden;
//     backface-visibility: hidden;
//     -webkit-perspective: 1000px;
//     perspective: 1000px;
//   }
//   .carousel-inner > .item.next,
//   .carousel-inner > .item.active.right {
//     -webkit-transform: translate3d(100%, 0, 0);
//     transform: translate3d(100%, 0, 0);
//     left: 0;
//   }
//   .carousel-inner > .item.prev,
//   .carousel-inner > .item.active.left {
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//     left: 0;
//   }
//   .carousel-inner > .item.next.left,
//   .carousel-inner > .item.prev.right,
//   .carousel-inner > .item.active {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//     left: 0;
//   }
// }
// .carousel-inner > .active,
// .carousel-inner > .next,
// .carousel-inner > .prev {
//   display: block;
// }
// .carousel-inner > .active {
//   left: 0;
// }
// .carousel-inner > .next,
// .carousel-inner > .prev {
//   position: absolute;
//   top: 0;
//   width: 100%;
// }
// .carousel-inner > .next {
//   left: 100%;
// }
// .carousel-inner > .prev {
//   left: -100%;
// }
// .carousel-inner > .next.left,
// .carousel-inner > .prev.right {
//   left: 0;
// }
// .carousel-inner > .active.left {
//   left: -100%;
// }
// .carousel-inner > .active.right {
//   left: 100%;
// }
// .carousel-control {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   width: 15%;
//   font-size: 20px;
//   color: #ffffff;
//   text-align: center;
//   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
//   background-color: rgba(0, 0, 0, 0);
//   filter: alpha(opacity=50);
//   opacity: 0.5;
// }
// .carousel-control.left {
//   background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
//   background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
//   background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
//   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
//   background-repeat: repeat-x;
// }
// .carousel-control.right {
//   right: 0;
//   left: auto;
//   background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
//   background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
//   background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
//   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
//   background-repeat: repeat-x;
// }
// .carousel-control:hover,
// .carousel-control:focus {
//   color: #ffffff;
//   text-decoration: none;
//   outline: 0;
//   filter: alpha(opacity=90);
//   opacity: 0.9;
// }
// .carousel-control .icon-prev,
// .carousel-control .icon-next,
// .carousel-control .glyphicon-chevron-left,
// .carousel-control .glyphicon-chevron-right {
//   position: absolute;
//   top: 50%;
//   z-index: 5;
//   display: inline-block;
//   margin-top: -10px;
// }
// .carousel-control .icon-prev,
// .carousel-control .glyphicon-chevron-left {
//   left: 50%;
//   margin-left: -10px;
// }
// .carousel-control .icon-next,
// .carousel-control .glyphicon-chevron-right {
//   right: 50%;
//   margin-right: -10px;
// }
// .carousel-control .icon-prev,
// .carousel-control .icon-next {
//   width: 20px;
//   height: 20px;
//   font-family: serif;
//   line-height: 1;
// }
// .carousel-control .icon-prev:before {
//   content: "\2039";
// }
// .carousel-control .icon-next:before {
//   content: "\203a";
// }
// .carousel-indicators {
//   position: absolute;
//   bottom: 0px;
//   left: 50%;
//   z-index: 15;
//   width: 60%;
//   padding-left: 0;
//   margin-left: -30%;
//   text-align: center;
//   list-style: none;
// }
// .carousel-indicators button {
//   display: inline-block;
//   width: 10px!important;
//   height: 10px!important;
//   margin: 1px;
//   text-indent: -999px;
//   cursor: pointer;
//   background-color: #000 \9;
//   background-color: rgba(0, 0, 0, 0);
//   border: 1px solid #ffffff;
//   border-radius: 10px!important;
// }
// .carousel-indicators .active {
//   width: 12px;
//   height: 12px;
//   margin: 0;
//   background-color: #ffffff;
// }
// .carousel-caption {
//   position: absolute;
//   right: 15%;
//   bottom: 20px;
//   left: 15%;
//   z-index: 10;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   color: #ffffff;
//   text-align: center;
//   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
// }
// .carousel-caption .btn {
//   text-shadow: none;
// }
// @media screen and (min-width: 768px) {
//   .carousel-control .glyphicon-chevron-left,
//   .carousel-control .glyphicon-chevron-right,
//   .carousel-control .icon-prev,
//   .carousel-control .icon-next {
//     width: 30px;
//     height: 30px;
//     margin-top: -10px;
//     font-size: 30px;
//   }
//   .carousel-control .glyphicon-chevron-left,
//   .carousel-control .icon-prev {
//     margin-left: -10px;
//   }
//   .carousel-control .glyphicon-chevron-right,
//   .carousel-control .icon-next {
//     margin-right: -10px;
//   }
//   .carousel-caption {
//     right: 20%;
//     left: 20%;
//     padding-bottom: 30px;
//   }
//   .carousel-indicators {
//     bottom: 20px;
//   }
// }


// .bottom-right {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   padding-right: 10px;
//   padding-bottom: 5px;
// }

// .price-right {
//   right: 0;
// }
