.bottomsection {
  height: 260px ;
  align-items: center !important;
  background-color: #588157 !important;
  padding-left: 60px;
  font-family: Archivo !important;
}

.bottomsection  h1 {
  color:white !important;
  font-size: 64px !important;
  font-weight: bold !important;
}

.bottomsection  h2 {
  color:white !important;
  font-size: 24px !important;
  position: relative !important;
  top: -15px !important;
  font-weight: bold !important;
}

.bottomfooter {
  font-family: Archivo !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.socialicons {
  padding-right: 40px !important;
  padding-top: 5px;
}

.paymentoptionicons {
  position: relative;
  top: -15px;
  left: -5px;
}

a {
  color:black !important;
  text-decoration: none !important;
  transition: 0.3s !important;
  font-family: archivo !important;
}

a:hover {
  text-decoration: none !important;
  color: grey !important;
}

#whitebottom {
  width: 60%;
}
