.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Archivo', sans-serif;
  padding: 7%;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  width: 345px;
}

.mapboxgl-popup-content {
  padding: 0px !important;
  border-radius: 3px !important;
}

.mapbox-text h6, p{
  text-align: left !important;
}

.mapbox-text {
  padding: 10px;
}
