.navbar-lewagon {
  justify-content: space-between;
  border-bottom: grey;
}


#homenav {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 40px;
}

.left-icons {
  margin-left: 20px;
}


/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white;
  border: grey;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 40px;
  cursor: pointer;
  color: black;
  background-color: inherit;
  padding: 10px 15px;
  border: none;
  transition: 0.3s;
}

.openbtnhome {
  font-size: 40px;
  cursor: pointer;
  color: white;
  background-color: inherit;
  padding: 10px 15px;
  border: none;
  transition: 0.3s;
}

.openbtn:hover {
  color: grey;
}

.center-cropped {
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}
