// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Font
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');

// h1, h2, h3, p {
//   font-family: Archivo;
// }

html {
  height: 100% !important;
}

body {
  background-color: white;
  font-family: "Archivo";
  min-height: 100vh !important;
}

.wrapper {
  min-height: 100%;
}


.content {
  flex: 1 0 auto;
}


  #meal_tag_list_gluten {
    position: absolute;
    transform: scale(0);
  }

  #meal_tag_list_gluten + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 50rem;
    padding: 0.5rem 1rem;
    background-color: #ffd90300;
    color: #272343;
    border: 1px solid #272343;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }

  #meal_tag_list_gluten:checked + label {
    background-color: #FFD803;
    color: #272343;
  }

  #meal_tag_list_asian {
    position: absolute;
    transform: scale(0);
  }

  #meal_tag_list_asian + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 50rem;
    padding: 0.5rem 0.9rem;
    background-color: #ffd90300;
    color: #272343;
    border: 1px solid #272343;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }

  #meal_tag_list_asian:checked + label {
    background-color: #FFD803;
    color: #272343;
  }

  #meal_tag_list_mexican {
    position: absolute;
    transform: scale(0);
  }

  #meal_tag_list_mexican + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 50rem;
    padding: 0.5rem 0.9rem;
    background-color: #ffd90300;
    color: #272343;
    border: 1px solid #272343;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }

  #meal_tag_list_mexican:checked + label {
    background-color: #FFD803;
    color: #272343;
  }

  #meal_tag_list_italian {
    position: absolute;
    transform: scale(0);
  }

  #meal_tag_list_italian + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 50rem;
    padding: 0.5rem 0.9rem;
    background-color: #ffd90300;
    color: #272343;
    border: 1px solid #272343;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }

  #meal_tag_list_italian:checked + label {
    background-color: #FFD803;
    color: #272343;
  }

  #meal_tag_list_dessert {
    position: absolute;
    transform: scale(0);
  }

  #meal_tag_list_dessert + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 50rem;
    padding: 0.5rem 0.9rem;
    background-color: #ffd90300;
    color: #272343;
    border: 1px solid #272343;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }

  #meal_tag_list_dessert:checked + label {
    background-color: #FFD803;
    color: #272343;
  }

  #meal_tag_list_indian {
    position: absolute;
    transform: scale(0);
  }

  #meal_tag_list_indian + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 50rem;
    padding: 0.5rem 0.9rem;
    background-color: #ffd90300;
    color: #272343;
    border: 1px solid #272343;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }

  #meal_tag_list_indian:checked + label {
    background-color: #FFD803;
    color: #272343;
  }

  #meal_tag_list_turkish {
    position: absolute;
    transform: scale(0);
  }

  #meal_tag_list_turkish + label {
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 50rem;
    padding: 0.5rem 0.9rem;
    background-color: #ffd90300;
    color: #272343;
    border: 1px solid #272343;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }

  #meal_tag_list_turkish:checked + label {
    background-color: #FFD803;
    color: #272343;
  }


  .search {
    width: 450px;
    height: 50px;
    text-align: center;
    padding: 13px;
  }
